*.swp
*.*~
project.lock.json
*.pyc
nupkg/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/

# Fleet
.fleet/

# Code Rush
.cr/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
MQSBookingService/.DS_Store
.DS_Store
/MQSBookingService/Consumer
MQSBookingService/Consumer/.DS_Store
MQSBookingService/Consumer/.DS_Store
MQSBookingService/Consumer/.DS_Store
/MQSBookingService/Consumer
/MQSBookingService
MQSBookingService/Consumer/.DS_Store
MQSBookingService/Tests/Application/.DS_Store
MQSBookingService/Core/Domain/.DS_Store
MQSBookingService/Core/Application/.DS_Store
MQSBookingService/Core/.DS_Store
MQSBookingService/Core/Application/.DS_Store
MQSBookingService/Core/.DS_Store
MQSBookingService/Core/.DS_Store
MQSBookingService/Core/Application/.DS_Store
*.xml
