
.vs/MQSHotelBooking/xs/project-cache/Adapter.SQL-Debug.json
.vs/MQSHotelBooking/xs/project-cache/AdaptersTests-Debug.json
.vs/MQSHotelBooking/xs/project-cache/ApiConsumer-Debug.json
MQSBookingService/Adapter/.DS_Store
MQSBookingService/Adapter/Adapter.SQL/obj/Adapter.SQL.csproj.nuget.dgspec.json
MQSBookingService/Adapter/Adapter.SQL/obj/Adapter.SQL.csproj.nuget.g.props
MQSBookingService/Adapter/Adapter.SQL/obj/Adapter.SQL.csproj.nuget.g.targets
MQSBookingService/Adapter/Adapter.SQL/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
MQSBookingService/Adapter/Adapter.SQL/obj/Debug/net6.0/Adapter.SQL.AssemblyInfo.cs
MQSBookingService/Adapter/Adapter.SQL/obj/Debug/net6.0/Adapter.SQL.AssemblyInfoInputs.cache
MQSBookingService/Adapter/Adapter.SQL/obj/Debug/net6.0/Adapter.SQL.assets.cache
MQSBookingService/Adapter/Adapter.SQL/obj/Debug/net6.0/Adapter.SQL.csproj.AssemblyReference.cache
MQSBookingService/Adapter/Adapter.SQL/obj/Debug/net6.0/Adapter.SQL.GeneratedMSBuildEditorConfig.editorconfig
MQSBookingService/Consumer/.DS_Store
